{{ with (index .Site.Data (.Get "src")) }}
<div class="shadow card">
  <div class="card-body">
    <div class="media">
      {{ with .data.logo }}
      <img src="{{ .url }}" alt="" class="yx-favicon">
      {{ end }}
      <div class="media-body">
        <h6><i class="las la-external-link-alt"></i> <a href="{{ .data.url }}" class="stretched-link">{{
            .data.user.publication.posts.title |
            title }}</a></h6>
        {{ with .data.user.publication.posts.brief }}<p>{{ . | htmlUnescape | markdownify }}</p>{{ end }}
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="yx-attribution">
      {{ with .data.author }}{{ . }}{{ end }}{{ if and .data.author .data.publisher}},
      {{ end }}{{ with .data.publisher }}<cite>{{ . }}</cite>{{ end }}</div>
  </div>
</div>
{{ end }}