<!--
Parameters:
    type - (Required) album / track / playlist / artist
    id - (Required) Target ID
    width - (Optional) width
    height - (Optional) height
-->

{{ if .IsNamedParams }}
<!--
<iframe src="https://open.spotify.com/embed/{{ .Get " type" }}/{{ .Get "id" }}" width="{{ default " 100%" (.Get "width"
  ) }}" height="{{ default " 380" (.Get "height" ) }}" frameborder="0" allowtransparency="true"
  allow="encrypted-media"></iframe>
-->
<iframe style="border-radius:12px"
  src="https://open.spotify.com/embed/show/3B9KfnLOmJzQo5yKdJC7Mg?utm_source=generator&theme=0" width="100%"
  height="100" frameBorder="0" allowfullscreen=""
  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
{{ end }}
{{ if .IsNamedParams}}
<iframe style="border-radius:12px"
  src="https://open.spotify.com/embed/episode/1u2O20DtbfLyZ8dM7QrMLE?utm_source=generator&theme=0" width="100%"
  height="100" frameBorder="0" allowfullscreen=""
  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
{{ end }}